[submodule "3rdparty/mondieu"]
	path = 3rdparty/mondieu
	url = git@github.com:skoef/mondieu.git
[submodule "go/src/godep2portmk"]
	path = go/src/godep2portmk
	url = git@github.com:forquare/godep2portmk.git
